<div class="container">



  <div class="container-card">
    <div class="stats-cards">
      <div class="stat-card">
        <div class="stat-value">{{ totalPurchases }}</div>
        <div class="stat-label">Compras totales</div>
        <mat-icon class="stat-icon" >shopping_cart</mat-icon>
      </div>

      <div class="stat-card">
        <div class="stat-value" [style.color]="'var(--succes-color)'">{{ totalProducts | number }}</div>
        <div class="stat-label" [style.color]="'#4caf50' | hexToRgba: 0.6">Productos comprados</div>
        <mat-icon class="stat-icon" [style.color]="'var(--succes-color)'">inventory_2</mat-icon>
      </div>

      <div class="stat-card">
        <div class="stat-value" [style.color]="'var(--warning-color)'">{{ totalSpent | currency }}</div>
<div class="stat-label" [style.color]="'#ff9800' | hexToRgba: 0.6">Total gastado  </div>
        <mat-icon class="stat-icon"[style.color]="'var(--warning-color)'">attach_money</mat-icon>
      </div>

      <div class="stat-card">
        <div class="stat-value" [style.color]="'RGB(200, 160, 255)'">{{ avgPurchase | currency }}</div>
        <div class="stat-label" [style.color]="'RGB(200, 160, 255, .6)'">Promedio por compra</div>
        <mat-icon class="stat-icon" [style.color]="'RGB(200, 160, 255)'">trending_up</mat-icon>
      </div>
    </div>
    <div class="filters-section">
      <div class="category-chips">
        <mat-chip-listbox>
          <mat-chip-option *ngFor="let type of productTypes" [selected]="selectedType === type.id"
            (click)="filterByType(type.id)" class="custom-chip">
            {{type.name}} ({{getCountByType(type.id)}})
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <hr>
      <div class="simple-filters">
        <div class="search-box">
          <div class="input-group">
            <input type="text" class="input" placeholder="Coca Cola, Auriculares..." [(ngModel)]="searchQuery">
          </div>
        </div>

        <div class="filter-menu">
          <button [matMenuTriggerFor]="optionsMenu" class="filter-btn btn" matTooltip="Buscar gasto">
            <mat-icon>swap_vert</mat-icon>
          </button>
          <mat-menu #optionsMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="setSort('description')">
              <mat-icon>{{searchBy === 'description' ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
              <span>Description</span>
            </button>

            <button mat-menu-item (click)="setSort('product')">
              <mat-icon>{{searchBy === 'product' ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
              <span>Producto</span>
            </button>

            <button mat-menu-item (click)="setSort('productType')">
              <mat-icon>{{searchBy === 'productType' ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
              <span>Tipo de producto</span>
            </button>
          </mat-menu>
        </div>

        <div class="filter-menu">
          <button [matMenuTriggerFor]="filterMenu" class="filter-btn btn" matTooltip="Filtros">
            <mat-icon>filter_list</mat-icon>
          </button>
          <mat-menu #filterMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="setSort('recent')">
              <mat-icon>{{sortBy === 'recent' ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
              <span>Más recientes</span>
            </button>
            <button mat-menu-item (click)="setSort('oldest')">
              <mat-icon>{{sortBy === 'oldest' ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
              <span>Más antiguas</span>
            </button>
            <button mat-menu-item (click)="setSort('quantity')">
              <mat-icon>{{sortBy === 'quantity' ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
              <span>Por cantidad</span>
            </button>
            <button mat-menu-item (click)="setSort('price')">
              <mat-icon>{{sortBy === 'price' ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
              <span>Por precio</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="resetFilters()">
              <mat-icon>clear_all</mat-icon>
              <span>Limpiar filtros</span>
            </button>
          </mat-menu>
        </div>
        <button class="filter-btn btn" matTooltip="Agregar compras" routerLink="createPurchase"><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="purchase-item" *ngFor="let purchase of filteredPurchases"
      (mouseenter)="hoveredItem = purchase.purchase_id" (mouseleave)="hoveredItem = null">
      <div class="product-type-indicator" [style.background-color]="getTypeColor(purchase.product.productType)"></div>
      <div class="item-content">
        <div class="item-main">
          <span class="item-id">#{{purchase.purchase_id}}</span>
          <h3 class="item-name">{{purchase.product.name}}</h3>
          <div class="item-details">
            <span class="detail">
              <mat-icon>label</mat-icon> {{purchase.product.productType.name}}
            </span>
            <span class="detail">
              <mat-icon>numbers</mat-icon> {{purchase.quantity}} unidades
            </span>
            <span class="detail">
              <mat-icon>attach_money</mat-icon> {{purchase.price | currency}}
            </span>
          </div>
        </div>

        <div class="item-actions" *ngIf="hoveredItem === purchase.purchase_id">
          <button class="btn btn-icon" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="btn btn-icon danger" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>