.stat-card {
    min-width: 250px;
}

.avg-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #4CAF50 !important;
}

.stat-card {
    background-color: rgba($color: #2b4c7e, $alpha: .01);
}

.stats-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}