<div class="container">



  <div class="container-card">
    <div class="stats-cards">
      <div class="stat-card">
        <div class="stat-value">1</div>
        <div class="stat-label">Productos totales</div>
        <mat-icon class="stat-icon">shopping_cart</mat-icon>
      </div>

    </div>
    <div class="filters-section">
      <!-- <div class="category-chips">
        <mat-chip-listbox>
          <mat-chip-option *ngFor="let type of []" [selected]="selectedType === type.id"
            (click)="filterByType(type.id)" class="custom-chip">
          </mat-chip-option>
        </mat-chip-listbox>
      </div> -->
    </div>
  </div>
</div>