<h2 mat-dialog-title class="modal-title">
  {{ isEditMode ? 'Editar Evento' : 'Crear Nuevo Evento' }}
</h2>

<mat-dialog-content class="modal-content">
  <form [formGroup]="form" class="event-form">
    <div class="input-group">
      <label>Fecha de inicio</label>
      <div class="custom-date-input">
        <input matInput [matDatepicker]="startPicker" formControlName="startDate" required class="input"
          [ngClass]="{'input-error': form.get('startDate')?.invalid && form.get('startDate')?.touched}">
        <button type="button" mat-icon-button class="datepicker-toggle" (click)="startPicker.open()">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <mat-datepicker #startPicker></mat-datepicker>
      </div>
      @if (form.get('startDate')?.invalid && form.get('startDate')?.touched) {
      <div class="error-message">
        La fecha de inicio es obligatoria
      </div>
      }
    </div>

    <div class="input-group">
      <label>Fecha de fin</label>
      <div class="custom-date-input">
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" [min]="minEndDate" required class="input"
          [ngClass]="{'input-error': form.get('endDate')?.invalid && form.get('endDate')?.touched}">
        <button type="button" mat-icon-button class="datepicker-toggle" (click)="endPicker.open()">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <mat-datepicker #endPicker></mat-datepicker>
      </div>
      @if (form.get('endDate')?.invalid && form.get('endDate')?.touched) {
      <div class="error-message">
        @if (form.get('endDate')?.hasError('required')) {
        La fecha de fin es obligatoria
        }
        @if (form.get('endDate')?.hasError('matDatepickerMin')) {
        La fecha debe ser posterior a la de inicio
        }
      </div>
      }
    </div>

    <div class="input-group">
      <label for="email">Tiempo de notificacion</label>
      <input type="number" id="minutesAdvice" formControlName="minutesAdvice" placeholder="15" class="input"
        [ngClass]="getErrorClass('minutesAdvice')">
    </div>

    <div class="slideCont">
      <div class="input-group">
        <mat-slide-toggle formControlName="phoneNotifications" color="primary">
          Notificaciones por teléfono
        </mat-slide-toggle>
        @if (form.get('phoneNotifications')?.hasError('required')) {
        <div class="error-message">
          Debes seleccionar esta opción
        </div>
        }
      </div>

      <div class="input-group">
        <mat-slide-toggle formControlName="webNotifications" color="primary">
          Notificaciones por web
        </mat-slide-toggle>
        @if (form.get('webNotifications')?.hasError('required')) {
        <div class="error-message">
          Debes seleccionar esta opción
        </div>
        }
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="modal-actions">
  <button mat-button class="btn btn-outline" (click)="onCancel()">Cancelar</button>
  <button mat-button class="btn btn-primary" [disabled]="form.invalid" (click)="onSubmit()">
    {{ isEditMode ? 'Actualizar' : 'Guardar' }}
  </button>
</mat-dialog-actions>