<div class="modal">
  <div class="modal-header">
  <h2 mat-dialog-title class="modal-title">
  {{ isEditMode ? 'Editar Evento' : 'Crear Nuevo Evento' }}
</h2>
<div class="dialogClose">
  <mat-icon class="dialogCloseIcon" mat-dialog-close>close</mat-icon>
</div>
</div>

<mat-dialog-content class="modal-content">
  <form [formGroup]="form" class="event-form">
    <div class="input-group">
      <label for="eventName">Nombre del evento</label>
      <input type="text" id="eventName" formControlName="eventName" placeholder="Nombre" class="input"
        [ngClass]="getErrorClass('eventName')">
      @if (getValidControl('eventName')) {
      <div class="error-message">
        El nombre del evento es obligatorio
      </div>
      }
    </div>
    <div class="input-group">
      <label>Fecha de inicio</label>
      <div class="custom-date-input">
        <input matInput type="datetime-local" formControlName="startDate" required class="input"
          [ngClass]="{'input-error': form.get('startDate')?.invalid && form.get('startDate')?.touched}">

      </div>
      @if (form.get('startDate')?.invalid && form.get('startDate')?.touched) {
      <div class="error-message">
        La fecha de inicio es obligatoria
      </div>
      }
    </div>

    <div class="input-group">
      <label>Fecha de fin</label>
      <div class="custom-date-input">
        <input matInput type="datetime-local" formControlName="endDate" [min]="minEndDate" required class="input"
          [ngClass]="{'input-error': form.get('endDate')?.invalid && form.get('endDate')?.touched}">
      </div>
      @if (form.get('endDate')?.invalid && form.get('endDate')?.touched) {
      <div class="error-message">
        @if (form.get('endDate')?.hasError('required')) {
        La fecha de fin es obligatoria
        }
        @if (form.get('endDate')?.hasError('matDatepickerMin')) {
        La fecha debe ser posterior a la de inicio
        }
      </div>
      }
    </div>

    <div class="input-group">
      <label for="email">Tiempo de notificacion</label>
      <input type="number" id="minutesAdvice" formControlName="minutesAdvice" placeholder="15" class="input"
        [ngClass]="getErrorClass('minutesAdvice')">
    </div>

    <div class="slideCont">
      <div class="input-group">
        <mat-slide-toggle formControlName="phoneNotifications" color="primary">
          Notificaciones por teléfono
        </mat-slide-toggle>
        @if (form.get('phoneNotifications')?.hasError('required')) {
        <div class="error-message">
          Debes seleccionar esta opción
        </div>
        }
      </div>

      <div class="input-group">
        <mat-slide-toggle formControlName="webNotifications" color="primary">
          Notificaciones por web
        </mat-slide-toggle>
        @if (form.get('webNotifications')?.hasError('required')) {
        <div class="error-message">
          Debes seleccionar esta opción
        </div>
        }
      </div>
    </div>
  </form>
</mat-dialog-content>
  <div class="modal-actions">
    <button class="btn btn-primary" [disabled]="form.invalid" (click)="onSubmit()">Guardar</button>
    <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
  </div>
</div>